body {
    margin: 0;
    font-family: 'Recursive', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./img/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }